<br>
<div class="container">
    <br>
    <h1 class=""> Admin Panel</h1>
    <hr style='background-image:linear-gradient(180deg,rgb(233, 179, 245),rgb(156, 28, 28),rgb(156, 28, 28));'>
    <h4>Welcome to Blogger's Admin Panel</h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class="btn btn-light btn-outline-dark btn-lg" type="button" href="/API/signin">Login</a>

</div>