<div class="container">
    <h2>BLOGGER ADMIN PANEL
        <br>


        <!-- start quiz -->
        <h3 class="text-muted">
            Create your first Post
        </h3>
        <br>
        <a href="/API/create" class="btn btn-success">Create Post</a>
</div>