<div class="container">
    <h2>BLOGGER ADMIN PANEL
        <br>


        <!-- start quiz -->
        <h3>
            App is coming soon
        </h3>
        <br>
        <a href="/API/create" class="btn btn-success">Create Post</a>
</div>